/* src/styles/utilities.css */
.text-center {
  text-align: center;
}

.margin-bottom {
  margin-bottom: 20px;
}

/* src/styles/themes.css */
:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --font-family: "Arial", sans-serif;
}

.primary-bg {
  background-color: var(--primary-color);
}
