.error-correction-selector {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media (min-width: 600px) {
  .error-correction-selector {
    flex-direction: row;
    align-items: center;
  }

  .error-correction-selector label {
    margin-right: 0.5rem;
  }
}
