/* InputForm Styles */
.input-form {
  gap: 10px;
  width: 100%;
  max-width: 600px;
  margin: 10px auto;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.input-form input,
.input-form select {
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  width: 100%;
}

.input-form button {
  align-self: flex-end;
}

@media (min-width: 768px) {
  .input-form {
    align-items: center;
  }

  .input-form input,
  .input-form select {
    flex: 1;
    margin-right: 10px;
  }

  .input-form button {
    width: auto;
    flex-shrink: 0;
  }
}

/* QRCodeCanvas Styles */
canvas {
  border: 1px solid #000000;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
}

.qr-code-canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.qr-canvas-wrapper {
  position: relative;
  width: 420px;
  height: 420px;
}

.qr-canvas-wrapper canvas {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Allow click-through unless overridden */
  border: 1px solid black; /* Optional: for visibility */
}

/* Enable pointer events only on highlight layer */
.qr-canvas-wrapper canvas:last-child {
  pointer-events: auto;
}


/* SegmentDisplay Styles */
.segment-display {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0;
  justify-content: center;
}

.modeIndicator-button {
  padding: 10px 15px;
  background-color: #beb625;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.characterCountIndicator-button {
  padding: 10px 15px;
  background-color: #25be45;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.segment-button {
  padding: 10px 15px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.codon-button {
  padding: 10px 15px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.segment-button-highlighted {
  padding: 10px 15px;
  background-color: #3498db;
  color: white;
  border: 1rem solid;
  border-radius: 4px;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.codon-button-highlighted {
  padding: 10px 15px;
  background-color: #3498db;
  color: white;
  border: 1rem solid;
  border-radius: 4px;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.segment-button:hover {
  background-color: #2980b9;
  transform: scale(1.05);
}

.codon-button:hover {
  background-color: #2980b9;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .modeIndicator-button {
    padding: 15px 20px;
  }
  .characterCountIndicator-button {
    padding: 15px 20px;
  }
  .segment-button {
    padding: 15px 20px;
  }
}

/* VideoScanner Styles */
.video-scanner {
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#video {
  width: 100%;
  max-width: 640px;
  border-radius: 8px;
}

.input-group {
  padding: 2px;
  margin: 2px;
}

.input-group textarea {
  width: 100%;
}

.input-label {
  height: 10px;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 15px;
  display: block;
}

.input-container {
  position: relative;
  width: 316px;
}

.input-header {
  /* border: 1px solid #ccc; */
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e1e8f0;
}

.input-button-row {
  display: flex;
  align-items: center; /* Vertically centers label and select */
  gap: 0.5rem; /* Space between label and select */
  justify-content: space-between;
  margin: 4px auto;
}

.input-button-row input {
  min-width: 200px;
  max-width: 600px;
}

.input-button-row button {
  min-width: 20px;
  max-width: 80px;
}

.label-select-row {
  display: flex;
  align-items: center; /* Vertically centers label and select */
  gap: 0.5rem; /* Space between label and select */
  justify-content: space-between;
  margin: 4px auto;
}

/* Optional: ensure the label has no right margin if using gap */
.label-select-row label {
  margin-right: 0;
  min-width: 80px;
}

/* Optional: ensure the label has no right margin if using gap */
.label-select-row select {
  margin-right: 0;
  max-width: 300px;
}

.label-select-checkbox-row {
  display: flex;
  align-items: center; /* Vertically centers label and select */
  gap: 0.5rem; /* Space between label and select */
  justify-content: space-between;
  margin: 4px auto;
}

/* Optional: ensure the label has no right margin if using gap */
.label-select-checkbox-row label {
  margin-right: 0;
  min-width: 80px;
}

.label-select-checkbox-row select {
  margin-right: 0;
  min-width: 100px;
  max-width: 300px;
}

.label-select-checkbox-row input {
  margin-right: 0;
  min-width: 20px;
  max-width: 20px;
}
